extends layout

block content 
    header
        h1= title

        div.secondary-header
            p.intro A safe place for all your thoughts!

            .button-container 
                a(href=`http://localhost:${process.env.PORT || 3000}`): button.post= 'Forgot what I was gonna say'
    main    
        form(action='/new', method='POST')
            h2 Create post 
            input(type='text', placeholder='Title', name='title', id='title' required)
            textarea(name='description', placeholder='Write your thoughts here', cols='40' required)
            input(type='text' placeholder='Your name' name='name' id='name' required)
            .form-btn-container
                button.form-btn(type='submit' id='submit-btn') Post