* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}

:root {
  font-size: 62.5%;
  --blue-color: #1DA1F2;
}

body {
  background: #f4f1f1; 
}


h1 {
  font-size: 4rem;
}

.intro {
  font-size: 2.2rem;
}

h2 {
  font-size: 2.8rem;
}

p, textarea {
  font-size: 1.6rem;
}

.post {
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  font-size: 2rem;
  color: #f4f1f1;
  background-color: var(--blue-color);
}

header {
  display:flex;
  flex-direction: column;
  padding: 30px 70px 30px 30px;
  background-color: var(--blue-color);
  margin-bottom: 70px;
}

.secondary-header {
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
}

main {
  width: 70%;
  margin:auto;
  min-height: 100vh;
}

.message-card {
  display:flex;
  flex-direction: column;
  border: none;
  margin-bottom: 60px;
  border-radius: 8px;
  box-shadow:  0 7px 30px -10px rgba(2, 2, 2, 0.945);
}

.message-card .title {
  padding: 10px;
}

.title-container {
  background-color: var(--blue-color);
}

.description, footer {
  padding: 10px;
}

.user, .date {
  font-style: italic;
}

.user {
  font-weight: 600;
}


form {
  display: flex; 
  flex-direction: column;
  padding: 40px;
  background-color: var(--blue-color);
  gap: 15px;
  border-radius: 8px;
  box-shadow:  0 7px 30px -10px rgba(2, 2, 2, 0.945);
}

form h2 {
  text-align: center;
}

.form-title {
  padding-bottom: 15px;
}

textarea {
  min-height: 300px;
}

input {
  min-height: 50px;
}

textarea, input {
  padding: 15px;
  font-size: 1.8rem;
}